.presets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 5px;
}

.preset {
    margin-bottom: 5px;
}

.full-width {
    width: 90%;
    margin-bottom: 3px;
}

.helpIcon {
    font-size: 1.2em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(124, 124, 124);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

.help {
    display: none;
    position: absolute;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: 1px solid rgb(171, 207, 210);
    border-radius: 8px;
    left: 105%;
    top: 0;
    width: 60vw;
    padding: 5px;
    cursor: auto;
}

.helpIcon:hover .help {
    display: block;
}
