#sidebar {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.settingsGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
