.macro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.macro input {
    font-family: monospace;
}

.macroExplanation {
    font-size: 0.9em;
}

code {
    font-weight: bold;
    font-size: 1.1em;
}
