.outputOptions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;

    label {
        font-size: var(--label-font-size);
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .columns {
        font-size: 0.9em;
        flex-direction: row;
        margin-top: 5px;

        input {
            width: 5ch;
        }
    }

    .outputSeparator input {
        font-family: monospace;
    }
}
