html {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    font-family: monospace;
}

input[type='checkbox'] {
    margin: 0 0 0 5px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    
}

.shortInput {
    margin-left: 5px;
    width: 8ch;
    font-size: 1.05em;
}

.numberInput {
    width: 5ch;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }

    body {
        background-color: #242526;
        color: white;
    }
}
