:root {
    --label-font-size: 0.95em;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.labeledInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}
