#tabs {
    display: flex;
    justify-content: center;
    background-color: #ececec;
    margin-bottom: 5px;
}

.tab {
    padding: 5px 5px 5px 5px;
    margin: 2px 3px 2px 3px;
    background-color: #b6b5b5;
    cursor: pointer;
}

.tab:hover {
    background-color: gray;
}

@media (prefers-color-scheme: dark) {
    #tabs {
        background-color: #131313;
    }

    .tab {
        background-color: #6c6c6c;
    }
}
